

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.PrimeraParte{
    padding: 10px;
}

.Titulo{
    margin-bottom: 10px;
    
}

.Titulo>h3{
    color: gainsboro;
    align-items: flex-end;
    display: flex;
}

#Texto {
    width: 300px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }



#B_Agregar{
    padding: 8px 4px;
    background-color: blue;
    color: white;
    border-style: none;
    border-radius: 4px;
}

.TextBoxAgregar {
    display: flex;
}

.ListaGeneral{
    display: flex;
    width: 100%;
}


  

.Botones{
    margin-right: auto;
    background-color: #707980;
    border-style: none;
    padding: 4px 8px;
    border-radius: 2px;
    margin: 2px;
    color: white;
}


.Lista{
    width: 49%;
    padding: 10px;
}

.Completado{
    width: 49%;
    padding: 10px;
}

.Filas{
    display: flex;
    justify-content: space-between;
}

.Tareas{
    display: flex;
    align-items: center;
}

.Botones{
    display: flex;
    align-items: center;
}
  